/* noto serif fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* inter fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --inter-fonts: "Inter", sans-serif;
  --noto-serif: "Noto Serif", serif;
  --ash-color: #8987a1;
  --orange-color: #e95a08;
}
.inter {
  font-family: var(--inter-fonts);
}
.noto {
  font-family: var(--noto-serif);
}
.ash-color {
  color: var(--ash-color);
}
.orange-color {
  color: var(--orange-color);
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.6);
}
.input-tag {
  background-color: white;
}
.child-shadow {
  filter: drop-shadow(-4px 10px 2px rgba(0, 0, 0, 0.25));
}
.btn-color {
  background-color: #e95a08;
}
.line-height {
  line-height: 5px;
}
