/* noto serif fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* inter fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --inter-fonts: "Inter", sans-serif;
    --noto-serif: "Noto Serif", serif;
    --ash-color: #8987A1;
    --orange-color: #E95A08;
}
.inter{
    font-family: var(--inter-fonts);
}
.noto{
    font-family: var(--noto-serif);
}
.ash-color{
    color: var(--ash-color);
}
.orange-color{
    color: var(--orange-color);
}